<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>InfoYa Noticias</title>
    <link rel="short  cut icon" href="Images/InfoYa.jpg"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <script src="JavaScript.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <h1>InfoYa</h1>
      <h2>Cine</h2>
    </header>

    <div class="topnav">
      <a class="active" href="index.html">Home</a>
      <a href="Entretenimiento.html">Entretenimiento</a>
      <a href="Cine.html">Cine</a>
      <a href="Noticias.html">Noticias</a>
      <a href="Contacto.html">Contacto</a>
      <input type="text" placeholder="Search..">
    </div>

  <div class="P1">
    <p>El plan Argentina contra el hambre</p>
    </div>
    <h6><img src="Images/ArgentinaContraElHambre01.jpeg" alt="" width="700px"></h6>
    <br>
    <br>
    <div class="P1">
      <p>¿De qué se trata?</p>
    </div>
    <div class="P2">
      <img src="Images/ArgentinaContraElHambre02.jpg" style="width: 40%; float: right" alt="">
      <p>En el marco del anunciado plan Argentina Contra el Hambre, Alberto Fernández reunió en sus nuevas oficinas de Puerto Madero a un heterodoxo grupo de asesores que estará coordinado por Daniel Arroyo, probable ministro de Desarrollo Social a partir del 10 de diciembre.</p>
      <p>Este consejo asesor, que responderá directamente al Presidente de la nación, está conformado por personajes de perfiles antagónicos, como el empresario y conductor televisivo Marcelo Tinelli, la chef Narda Lepes, el sociólogo (UCA) Agustín Salvia, el premio nobel de la Paz Adolfo Perez Esquivel y la titular de Abuelas de Plaza de Mayo, Estela de Carlotto.</p>

    </div>

    <br>
    <br>
    <div class="P1">
      <p>Que Opinas?</p>
    </div>
    <br>
    <div class="Valoracion">
      <br>
      <p id="ContadorLikes">0</p>
      <p onclick="MeGustas()">Me gusto</p>
      <br>
      <p id="ContadorDislikes">0</p>
      <p onclick="NoMeGusto()">No me gusto</p>
      <br>
    </div>
    <br>
    <br>

    <footer>
      <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
      <a href="https://es-la.facebook.com/"><i class="fab fa-facebook"></i></a>
      <br>
      Copyright (c) 2018 Copyright Holder All Rights Reserved.</footer>
  </body>
</html>
