<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>InfoYa Cine</title>
    <link rel="short  cut icon" href="Images/InfoYa.jpg"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <script src="JavaScript.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <h1>InfoYa</h1>
      <h2>Cine</h2>
    </header>

    <div class="topnav">
      <a class="active" href="index.html">Home</a>
      <a href="Entretenimiento.html">Entretenimiento</a>
      <a href="Cine.html">Cine</a>
      <a href="Contacto.html">Contacto</a>
    <input type="text" placeholder="Search..">
  </div>
  <div class="TituloPelicula">
    <p>The Avengers: Endgame</p>
    </div>
    <h6><img src="Images/AvengersEndgame01.jpeg" alt="" width="500px"></h6>
  <div class="P1">
        <p>¿De qué se trata?</p>
      </div>
      <div class="P2">
        <p>Los Vengadores restantes deben encontrar una manera de recuperar a sus aliados para un enfrentamiento épico con Thanos, el malvado que diezmó el planeta y el universo</p>

      </div>

      <h6><iframe width="560" height="315" src="https://www.youtube.com/embed/TcMBFSGVi1c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></h6>
      <br>
      <br>
      <div class="P1">
        <p>Que Opinas?</p>
      </div>
      <br>
      <div class="Valoracion">
        <br>
        <p id="ContadorLikes"></p>
        <p onclick="MeGustas()">Me gusto</p>
        <br>
        <p id="ContadorDislikes"></p>
        <p onclick="NoMeGusto()">No me gusto</p>
        <br>
      </div>
      <br>
      <br>
      <footer>
        <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
        <a href="https://es-la.facebook.com/"><i class="fab fa-facebook"></i></a>
        <br>
        Copyright (c) 2018 Copyright Holder All Rights Reserved.</footer>
  </body>
</html>
