<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>InfoYa Entretenimiento</title>
    <link rel="short  cut icon" href="Images/InfoYa.jpg"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="JavaScript.js" charset="utf-8"></script>
  </head>
  <body>

    <header>
      <h1>InfoYa</h1>
      <h2>Entretenimiento</h2>
    </header>

    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="Entretenimiento.html">Entretenimiento</a>
        <a href="Cine.html">Cine</a>
        <a href="Contacto.html">Contactanos</a>
        <input type="text" placeholder="Search..">
    </div>

    <div class="P1">
      <p>Battlefield 1</p>
    </div>

    <div class="games">
        <img src="Images/Battlefield102.jpg" alt="" width="55%">
    </div>

    <div class="P3">
      <p>Battlefield 1 Revolution te permite sumergirte en la Gran Guerra, en épicas batallas multijugador de grandes dimensiones. Las batallas nunca serán iguales gracias a los papeles individuales de cada uno por tierra, mar y aire. O toda una nueva dimensión de batallas en las historias de guerra de la campaña.</p>
    </div>

    <div class="P1">
        <p>Multijuagador:</p>
    </div>

    <div class="games">
      <img src="Images/Battlefield103.jpg" alt="" width="50%" style="float: inherit">
    </div>

    <div class="P3">
      <p>Battlefield 1 te transporta a los inicios de la guerra total, donde no hay dos batallas iguales. Alístate en Battlefield 1 Revolution y revoluciona tu forma de jugar con acceso a nuevos mapas, nuevos modos y nuevos conflictos.</p>
    </div>

    <div class="P1">
      <p>Un jugador:</p>
    </div>

    <div class="games">
      <img src="Images/Battlefield104.jpg" alt="">
    </div>

    <div class="P3">
        <p>Battlefield 1 te transporta a los inicios de la guerra total, donde no hay dos batallas iguales. Alístate en Battlefield 1 Revolution y revoluciona tu forma de jugar con acceso a nuevos mapas, nuevos modos y nuevos conflictos.</p>
    </div>
    <br>
    <br>
    <div class="P1">
      <p>Que Opinas?</p>
    </div>
    <br>
    <div class="Valoracion">
      <br>
      <p id="ContadorLikes">0</p>
      <p onclick="MeGustas()">Me gusto</p>
      <br>
      <p id="ContadorDislikes">0</p>
      <p onclick="NoMeGusto()">No me gusto</p>
      <br>
    </div>
    <br>
    <br>
    <footer>
      <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
      <a href="https://es-la.facebook.com/"><i class="fab fa-facebook"></i></a>
      <br>
      Copyright (c) 2018 Copyright Holder All Rights Reserved.</footer>
  </body>
</html>
