<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>InfoYa Entretenimiento</title>
    <link rel="short  cut icon" href="Images/InfoYa.jpg"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="JavaScript.js" charset="utf-8"></script>
    </head>
  <body>

    <header>
      <h1>InfoYa</h1>
      <h2>Entretenimiento</h2>
    </header>

    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="Entretenimiento.html">Entretenimiento</a>
        <a href="Cine.html">Cine</a>
        <a href="Contacto.html">Contactanos</a>
      <input type="text" placeholder="Search..">
    </div>

    <div class="P1">
      <p>Dead By Daylight</p>
    </div>
    <div class="games">
      <img src="Images/DeadByDaylight02.jpg" alt="" width="60%">
    </div>
    <div class="P2">
        <img src="Images/DeadByDaylight03.jpg" alt="" width="42%" style="float: left">
        <p>La muerte no es la salida. <br>
          Dead by Daylight es un juego de horror de multijugador (4 contra 1) en el que un jugador representa el rol del asesino despiadado y los 4 restantes juegan como supervivientes que intentan escapar de él para evitar ser capturados, torturados y asesinados.<br>

          Los supervivientes juegan en tercera persona y tienen la ventaja de contar con una mejor percepción del entorno. El asesino juega en primera persona y está más enfocado en su presa. El objetivo del superviviente en cada encuentro es escapar del área de matanza sin que lo capture el asesino, algo que suena más fácil de lo que es, especialmente con un entorno que cambia cada vez que juegas.</p>
        </div>
        <br>
        <div class="P2">
          <h2>Arbol de habilidades:</h2>
          <img src="Images/DeadByDaylight06.png" alt="" width="60%" style="float: right">
        <p>En el juego hay varias habilidades que los jugadores pueden obtener mediante mejorando su personaje y agregandoles perks o habilidades enseñables y desbloqueables en el juego.
        Hay un unico modo de juego el cual consta de reparar 5 generadores y reparar una puerta cerrada, en caso de quedar solo 1 jugador el mismo puede encontrar una escotilla de escape localizada al azar en el mapa.</p>
        <p>Al mejorar tu personaje en la sala de espera tienes que entrar a la linea de sangre donde encontraras mas de 20 perks,items,adiciones para tus items y ofrecimientos que forman mas de 100 posibles combinaciones que te ayudaran a sobrevivir en el campo de juego.El asesino tiene las mismas oportunidades de mejorarlo y matar a los sobrevivientes.</p>
        </div>

        <br>
        <div class="P2">
          <h2>Asesino:</h2>
        <img src="Images/DeadByDaylight07.jpg" alt="" width="30%" style="float: left">
          <p>En el caso de ser un asesino tu deber es encontrar y asesinar a los 4 jugadores que se encuentran en el mapa de diversas formas por ejemplo:</p>
          <p>Cuando cuelgas a un jugador en el gancho puede ser rescatado por otro compañero y seguir jugando,tu mision es colgarlo 3 veces o terminarlo con un ofrecimiento llamado Memento Mori con el cual performas una accion en la que matas al sobreviviente y termina su partida.</p>
        </div>
        <div class="P2">
          <h2>Caracteristicas destacadas:</h2>
         <p>• Sobrevivid juntos… o no - Los supervivientes pueden colaborar o ser egoístas. Tus probabilidades de supervivencia variarán según decidas trabajar en grupo o aventurarte en solitario. ¿Lograrás ser más astuto que el asesino para escapar del área de matanza?
            <br>
          • ¿Dónde estoy? - Cada nivel se genera aleatoriamente, así que nunca sabrás qué es lo que te espera. Con puntos de aparición al azar, nunca podrás sentirte a salvo, el entorno y sus peligros cambian cada vez que juegas.
</p>
        </div>
        <br>
    </div>
    <br>
    <br>
    <div class="P1">
      <p>Que Opinas?</p>
    </div>
    <br>
    <div class="Valoracion">
      <br>
      <p id="ContadorLikes">0</p>
      <p onclick="MeGustas()">Me gusto</p>
      <br>
      <p id="ContadorDislikes">0</p>
      <p onclick="NoMeGusto()">No me gusto</p>
      <br>
    </div>
    <br>
    <br>
    <footer>
      <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
      <a href="https://es-la.facebook.com/"><i class="fab fa-facebook"></i></a>
      <br>
      Copyright (c) 2018 Copyright Holder All Rights Reserved.</footer>
  </body>
</html>
