<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>InfoYa Entretenimiento</title>
    <link rel="short  cut icon" href="Images/InfoYa.jpg"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <script src="JavaScript.js" charset="utf-8"></script>
  </head>
  <body>

    <header>
      <h1>InfoYa</h1>
      <h2>Entretenimiento</h2>
    </header>

    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="Entretenimiento.html">Entretenimiento</a>
        <a href="Cine.html">Cine</a>
        <a href="Contacto.html">Contactanos</a>
      <input type="text" placeholder="Search..">
    </div>
    <div class="P1">
      <p>Destiny 2</p>
    </div>

    <div class="games">
      <img src="Images/Destiny01.jpg" alt="" width="50%">
    </div>

    <div class="P2">
      <img src="Images/Destiny02.jpg" alt="" width="40%" style="float: right">
      <p>Destiny 2 es un shooter de acción en el que realizas un épico viaje por el sistema solar. En la campaña cinematográfica, entrarás en un mundo lleno de atractivos personajes y lucharás para recuperar nuestro hogar. Combate junto a tus amigos en diversos modos cooperativos o desafía a otros jugadores en intensas partidas multijugador. Destiny 2 para PC incluirá resolución escalable hasta 4K, imágenes por segundo sin límite, campo de visión ajustable, compatibilidad con monitores ultraanchos/especiales y mucho más.</p>
    </div>
    <h6><iframe width="560" height="315" src="https://www.youtube.com/embed/SOegYa1Be2U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></h6>

    <div class="P2">
      <img src="Images/Destiny04.jpg" alt="" width="50%" style="float: left">
      <p>La última ciudad segura de la humanidad ha caído ante una fuerza invasora aplastante, liderada por Ghaul, el imponente comandante de la brutal Legión Roja. Él ha despojado a los guardianes de la ciudad de su poder, y ha obligado a los sobrevivientes a huir.</p>
      <br>
      <p>Te aventurarás en los mundos misteriosos e inexplorados de nuestro sistema solar para descubrir un arsenal de armas y nuevas habilidades de combate devastadoras. Para vencer a la Legión Roja y enfrentar a Ghaul, debes reunir a los héroes dispersos de la humanidad, y juntos deben permanecer unidos y dar batalla para reclamar nuestro hogar.</p>
    </div>

    <div class="P1">
      <p>Destiny 2 Expansions(DLCs):</p>
    </div>

    <div class="P2">
    <h2>Curse of Osiris</h2>
    <img src="Images/Destiny08.png" alt="" width="30%" style="float: Right">
    <p>En esta expansión tu guardian se embarca en una aventura para ayudar a Ikora en su búsqueda y encontrar a su antiguo mentor Osiris. En esta ocasión ayudaremos al Hermano Vance en Mercurio, un planeta invadido por los Vex el cual necesita de tu ayuda para ser salvado. Te adentrarás en el Bosque Infinito en busca de Panoptes, la mayor invención de los Vex. Una maquina capaz de descifrar el futuro y terraformarlo a su gusto. Ayuda a Vance, Ikora y al fantasma perdido de Osiris, Sagira a encontrar y asesinar a Panoptes antes de que condene a toda forma de vida en el sistema solar.</p>
    </div>

    <div class="P2">
      <h2>Warmind</h2>
      <img src="Images/Destiny05.jpg" alt="" width="30%" style="float: left">
      <p>La segunda expansion se llama Warmind: En Warmind continúa el viaje de tu Guardián con una historia completamente nueva. Ana Bray, una guardiana que durante mucho tiempo pensó que había perdido, busca una conexión con su pasado una que podría perderse para siempre en los casquetes polares de Marte. A medida que las guerras de la Edad de Oro comienzan a estrellarse contra el hielo, los glaciares comienzan a descongelarse, revelando el núcleo de Warmind Rasputin, y un antiguo ejército de la Colmena se empeñó en destruirlos. Ahora libre, la Colmena pulula en servicio a su dios Xol. Ayuda a Ana a descubrir su pasado y destruir al gigantesco dios gusano de la Colmena antes de que sea demasiado tarde.</p>
    </div>

    <h6><iframe width="560" height="315" src="https://www.youtube.com/embed/EVkys_S4w_Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><h6>


    <div class="P1">
      <p>Forsaken:</p>
    </div>

    <div class="P2">
      <img src="Images/Destiny06.jpg" alt="" width="25%" style="float: right">
      <p>El Arrecife ha caído en la ilegalidad, y ahora los criminales más buscados en la galaxia, los Barones y Uldren Sov, han organizado un jailbreak en la Prisión de Ancianos. Usted y Cayde-6 han sido enviados para llevar la ley y el orden de vuelta a las instalaciones en conflicto, pero las cosas no salen según lo planeado. Enfrentando probabilidades insuperables, Cayde-6 termina pagando el precio más alto. Más allá de la autoridad de Vanguard, te aventurarás solo en el Arrecife y tomarás la justicia en tus propias manos. Explora nuevas regiones, despierta nuevos poderes, gana una gran cantidad de nuevas armas y descubre los secretos perdidos de Awoken. La caza está en marcha.</p>
    </div>

    <h6><iframe width="560" height="315" src="https://www.youtube.com/embed/Qy1KWyDDM2U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><h6>

    <div class="P1">
      <p>Shadowkeep:</p>
    </div>

    <div class="P2">
      <img src="Images/Destiny07.jpg" alt="" width="25%" style="float: left">
      <p>A medida que los héroes de la última ciudad segura volvieron su atención a las fronteras más allá de la protección de la Vanguardia, surgieron nuevas Pesadillas de las sombras de nuestra Luna olvidada hace mucho tiempo. Llamada por las inquietantes visiones de su pasado atormentado, Eris Morn ha regresado y desatado algo que una vez dormitaba debajo de la superficie lunar, un poder latente que ni siquiera ella puede controlar.</p>
    </div>

    <h6><iframe width="560" height="315" src="https://www.youtube.com/embed/xjVgKG465F8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></h6>


    <footer>
      <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
      <a href="https://es-la.facebook.com/"><i class="fab fa-facebook"></i></a>
      <br>
      <br>
      <br>
      <div class="P1">
        <p>Que Opinas?</p>
      </div>
      <br>
      <div class="Valoracion">
        <br>
        <p id="ContadorLikes">0</p>
        <p onclick="MeGustas()">Me gusto</p>
        <br>
        <p id="ContadorDislikes">0</p>
        <p onclick="NoMeGusto()">No me gusto</p>
        <br>
      </div>
      <br>
      <br>
      Copyright (c) 2018 Copyright Holder All Rights Reserved.</footer>
  </body>
</html>
