<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>InfoYa</title>
    <link rel="short  cut icon" href="Images/InfoYa.jpg"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <script src="JavaScript.js" charset="utf-8"></script>
  </head>
  <body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        <header>
          <h1>InfoYa</h1>
        </header>

        <div class="topnav">
          <a class="active" href="index.html">Home</a>
          <a href="Entretenimiento.html">Entretenimiento</a>
          <a href="Cine.html">Cine</a>
          <a href="Noticias.html">Noticias</a>
          <a href="Contacto.html">Contacto</a>
          <input type="text" placeholder="Search..">
        </div>

        <div class="P1">
          <p>Garry's Mod:</p>
          <br>
          <img src="Images/Garry'sMod01.jpg" style="width: 90%;" alt="">
        </div>
        <div class="P2">
          <img src="Images/Garry'sMod02.jpg" style="float: left;" alt="">
          <p>Garry's Mod es un entorno que te permite jugar libremente con el motor físico. Al contrario que en la mayoría de juegos, no hay metas u objetivos predeterminados. Te proporcionamos las herramientas y te damos libertad para jugar.<br>
            Tú generas los objetos y los unes para crear tus propios artefactos: ya sea un coche, un cohete, una catapulta o algo aún por inventar. Tú decides.<br>
            Si no eres un experto en construcción, no te desanimes. Puedes colocar una gran variedad de objetos en posiciones absurdas.</p>
        </div>
        <div class="P2">
          <img src="Images/Garry'sMod03.png" style="float: right; width: 30%" alt="">
          <img src="Images/Garry'sMod04.jpg" style="float: left; width: 70%" alt="">
        </div>
        <br>
        <br>
        <div class="P1">
          <p>Que Opinas?</p>
        </div>
        <br>
        <div class="Valoracion">
          <br>
          <p id="ContadorLikes">0</p>
          <p onclick="MeGustas()">Me gusto</p>
          <br>
          <p id="ContadorDislikes">0</p>
          <p onclick="NoMeGusto()">No me gusto</p>
          <br>
        </div>
        <br>
        <br>
  </body>
</html>
