<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>InfoYa Entretenimiento</title>
    <link rel="short  cut icon" href="Images/InfoYa.jpg"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <script src="JavaScript.js" charset="utf-8"></script>
    </head>
  <body>

    <header>
      <h1>InfoYa</h1>
      <h2>Entretenimiento</h2>
    </header>

    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="Entretenimiento.html">Entretenimiento</a>
        <a href="Cine.html">Cine</a>
        <a href="Contacto.html">Contactanos</a>
      <input type="text" placeholder="Search..">
    </div>

    <div class="P1">
        <p>Minecraft</p>
    </div>

    <div class="games">
        <img src="Images/Minecraft02.png" alt="" width="50%">
    </div>

    <div class="P3">
      <p>Los infinitos mundos de Minecraft están llenos de secretos, maravillas pero también peligros. Icebergs, áreas pantanosas y amplias praderas te están esperando.</p>
    </div>

    <div class="P1">
      <p>Como jugar:</p>
    </div>

    <div class="P2">
      <img src="Images/Minecraft03.jpg" alt="" width="50%" height="450px"style="float: left">
      <p>No existe una única forma de jugar Minecraft. ¡Es un mundo abierto los jugadores deciden lo que quieren hacer!</p>

      <p>Existen distintos modos de juego: Creativo, donde los jugadores tienen materiales ilimitados para construir cualquier cosa que se les imagine; y Supervivencia, donde los jugadores deben explorar el mundo y conseguir recursos para alimentarse, construir y defenderse.</p>

      <p>¡También puedes jugar con tus amigos en línea y hacer vuestras propias reglas!</p>
    </div>

    <div class="P1">
      <p>Expansion acuatica:</p>
    </div>

    <div class="P2">
        <img src="Images/Minecraft04.jpg" alt="" style="float: Right">
        <p>¡Respira hondo y sumérgete en un emocionante nuevo mundo debajo de la superficie! Lleno de vida marina, nuevos mobs y paisajes coloridos, ¡los océanos de Minecraft están a punto de recibir su más grande actualización hasta el momento!</p>
    </div>
    <br>
    <br>
    <div class="P1">
      <p>Que Opinas?</p>
    </div>
    <br>
    <div class="Valoracion">
      <br>
      <p id="ContadorLikes">0</p>
      <p onclick="MeGustas()">Me gusto</p>
      <br>
      <p id="ContadorDislikes">0</p>
      <p onclick="NoMeGusto()">No me gusto</p>
      <br>
    </div>
    <br>
    <br>
    <footer>
      <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
      <a href="https://es-la.facebook.com/"><i class="fab fa-facebook"></i></a>
      <br>
      Copyright (c) 2018 Copyright Holder All Rights Reserved.</footer>
  </body>
</html>
